<!DOCTYPE html>
<html>
<head>
    <title>Text Saver</title>
</head>
<body>
    <h1>Save Your Text to a File</h1>
    <form method="POST" enctype="multipart/form-data" >
        <label for="filename">File Name:</label><br>
        <input type="text" name="filename" id="filename" ><br><br>

        <label for="user_text">Your Text:</label><br>
        <textarea name="user_text" id="user_text" rows="10" cols="50"></textarea><br><br>

        <button type="submit">Save Text</button>

    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>
  <form action="/files">
    <button type="submit">Show All Files</button>
  </form>
</body>
</html>
